.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.frame{
    background-color: aliceblue;
    border: 10px ridge black;
    height: 500px;
    width: 450px;
    position: absolute;
    top: 20px;
    left: 100px;
}

.coolComputer{
    grid-column-start: 1;
    grid-row-start: 1;
}

.scaredHuman{
    grid-column-start: 2;
    grid-row-start: 1;
}

.tyrannicalComputer{
    grid-column-start: 1;
    grid-row-start: 2;
}

.explosion{
    grid-column-start: 2;
    grid-row-start: 2;
}