.frame{
    background-color: aliceblue;
    border: 10px ridge black;
    height: 500px;
    width: 450px;
    position: absolute;
    z-index: -5;
}

.C{
    top: 20px;
    left: 20px;
}

.H{
    top: 20px;
    left: 510px;
}

.T{
    top: 560px;
    left: 20px;
}

.E{
    top: 560px;
    left: 510px;
}

.chr{
    z-index: 5;
}

.Run_for_your_life{
    background: url(/public/img/computerF1.png) no-repeat;
    height: 393.75px;
    width: 350px;
    background-size: 100%;
    left: 80px;
    top: 90px;
    position: absolute;
}